{{#each this}}
<li class="movies__item" id='movie{{id}}'>
    <img src="{{img}}" alt="{{name}}" id='img{{id}}'>
    <h2>{{name}}</h2>
    <p>{{year}}</p>
    <div class="star-button" id="{{id}}"></div>
</li>
{{/each}}